doctype html
html
    head
        title #{title}
    body
        h1 Editer
        ul
            form(method='POST' action='/users/' + user.dataValues.id + '?_method=PATCH')
                div.form-group
                    label(for='nom') Nom :
                    input#nom.form-control(type='textarea', placeholder='Nom' name='nom' value=user.dataValues.nom)
                    label(for='password') Password :
                    input#password.form-control(type='textarea', placeholder='Password' name='password')

                button(type='submit') Envoyer